body, ul,li,div,section,a,nav,h1,h2 {
    padding: 0;
    margin: 0;
    border: 0;
}



body {
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
}

.global-setting{
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    background-color: #262626;
    border-radius: 12px;
    -webkit-box-shadow: 4px 2px 8px 3px rgba(0, 0, 0, 0.44);
    -moz-box-shadow:    4px 2px 8px 3px rgba(0, 0, 0, 0.44);
    box-shadow:         4px 2px 8px 3px rgba(0, 0, 0, 0.44);

}



 
  .nav-set{
    margin-top: 30px;
    height: 70px;
        /* hover effect */
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
  }

  .nav-set:hover{
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -moz-transform:scale(1.01); /* Firefox */
    -ms-transform:scale(1.01); /* IE 9 */
    -o-transform:scale(1.01); /* Opera */
     transform:scale(1.01);
  }

.nav-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
}



.nav-bar ul {

    list-style-type: none;
    float: right;
    margin-right: 40px;
}

.nav-bar ul li {

    list-style-type: none;
    display: inline;
}

.nav-bar ul li a{
    color: white;
    font-size: 26px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: none;
    font-weight: bold;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
    transition: all .5s ease-in;
}

.nav-bar ul li a:hover{
    color:#F29125;
    text-decoration: underline;
    
}

.home{
    margin-top: 30px;
    height: 600px;
    position: relative;

    /* hover effect */
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;

}

.home:hover{
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -moz-transform:scale(1.01); /* Firefox */
    -ms-transform:scale(1.01); /* IE 9 */
    -o-transform:scale(1.01); /* Opera */
     transform:scale(1.01);

}

h1{
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
    background: -webkit-linear-gradient(180deg, rgba(212,203,22,1) 0%, rgba(219,21,11,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px !important;
}


h2{
    background: -webkit-linear-gradient(180deg,  rgba(212,22,22,1) 0%, rgba(219,206,11,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 50px;
}

.home p{
    font-size: 20px;
    padding-left: 50px;
    color: white;
    position: relative;
    display: inline-block;
    font-weight: 800;
    color: royalblue;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;

    
}
.home p {
    background: linear-gradient(90deg, rgba(252,0,255,1) 0%, rgba(255,255,255,1) 100%);
  }
 
  .home p{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
  }


 .home p {
    transition: background-position 275ms ease;
  }
  .home p:hover {
    background-position: 0 100%;
  }



.home img{
    top: 125px;
    right: 100px;
    position: absolute;
    width: 350px;
    height: 350px;
       -ms-border-radius: 10px;
    border-radius: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}



