---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { Button } from '@/components/ui/button';
import HeroSection from '@/components/hero-section/hero-section';
import AboutMe from '@/components/about-me/about-me';
import ProjectSection from '@/components/project-section/project-section';
import ContactMe from '@/components/contact-me/contact-me'
import Footer from '@/components/footer/footer';
---

<Layout title="Pasindu Pramodya">
	<main>
		<!-- <Header/> -->

<HeroSection client:load/>
<AboutMe/>
<ProjectSection/>
<ContactMe/>
<Footer/>
	</main>
</Layout>

<style>
	
</style>
