@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Poppins', sans-serif;
}

.gradient-circle {
	position: absolute;
	z-index: -1;
	width: 500px;
	height: 500px;
	opacity: 0.25;
	-webkit-filter: blur(100px);
	filter: blur(100px);
	border-radius: 70%;
}

.gradient-circle-l {
	left: -200px;
	top: -200px;
	right: auto;
	bottom: auto;
	background-image: linear-gradient(45deg, #845ec2, #af5dbb, #d15eaf, #ec64a0, #ff6f91);
}

.gradient-circle-r {
	left: auto;
	right: -200px;
	top: auto;
	bottom: 0;
	background-image: linear-gradient(45deg, #845ec2, #0085e4, #00a2e5, #00b9cc, #00c9a7);
}


@layer components {
	@supports (-webkit-appearance:none) {
		.animate-text-hero {
			@apply text-8xl font-extrabold text-transparent bg-clip-text;
			color: #af5dbb;
		}
	}

	@supports (-moz-appearance:none) {
		.animate-text-hero {
			@apply text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-cyan-400;
		}
	}

	@supports (not(-moz-appearance:none)) and (not(-webkit-appearance:none)) {
		.animate-text-hero {
			@apply text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-cyan-400;
		}
	}

}

.waviy {
	position: relative;
}

.waviy span {
	position: relative;
	display: inline-block;

	text-transform: uppercase;
	animation: flip 3.4s infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg);
	}
}

#tsparticles {
	height: 100vh;
	position: absolute;
}



.rounded-corners-gradient-borders {
	border: double 3px transparent;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00, #3020ff);
	background-origin: border-box;
	background-clip: content-box, border-box;
}