---
import Header from '@/components/header/header.tsx';
import ThemeHeadScript from '@/components/header/theme-head-script.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hi, I'm Pasindu Pramodya, a passionate software engineer specializing in web development, backend systems, and scalable solutions. Explore my projects, resume, and contact details here.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.ico" />
		<meta name="keywords" content="software engineer, fullstack developer, portfolio, backend developer, frontend developer, web development, coding projects, software engineering portfolio, tech blog, freelance software developer, open-source contributor">
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Pasindu Pramodya">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Pasindu Pramodya - Software Engineer Portfolio">
		<meta property="og:description" content="Discover my portfolio featuring projects, skills, and my resume. Let's collaborate on exciting software development projects!">
		<meta property="og:url" content="https://pasindupramodya.com">
		<meta property="og:image" content="https://pasindupramodya.com/profile.jpeg">

		<link rel="canonical" href="https://pasindupramodya.com">
		<meta name="robots" content="index, follow">
		<meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="Pasindu Pramodya Portfolio">
  <script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Person",
	  "name": "Pasindu Pramodya",
	  "url": "https://pasindupramodya.com",
	  "image": "https://pasindupramodya.com/profile.jpeg",
	  "jobTitle": "Software Engineer",
	  "worksFor": {
		"@type": "Github",
	  },
	  "sameAs": [
		"https://www.linkedin.com/in/pasindu-p-konghawaththa-3808861a0/",
		"https://github.com/MasterBrian99",
	  ]
	}
	</script>
  
		<ThemeHeadScript />
		<title>{title}</title>
	</head>
	<body>
		<Header client:load />
		<slot />
	</body>
</html>
<style is:global>

</style>
