.main {
  color: #343434;
  padding: 5rem 0;
}

.items {
  & div {
    width: 12rem;
    height: 100%;

    & img {
      width: 5rem;
    }

    & h2 {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
    }
  }
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
    & h2 {
      margin: 1.5rem 0;
    }
  }
}

.info {
  margin: 3rem 0;
  padding: 1.4rem 0;
  // background-color: #979797;
  min-height: 15rem;

  h2 {
    margin: 0 3rem;
    font-size: 3.5rem;
    font-weight: 700;
  }

  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
    margin: 0 1.4rem;
    & h2 {
      margin: 0;
      font-size: 2.5rem;
    }
  }
}
.details {
  & h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

// 480
