.main {
  height: 100%;
  position: relative;
  background-color: #000000;
  margin-top: 10rem;
  padding-bottom: 4rem;
  & h2 {
    text-align: center;
    padding: 0 2rem;
    margin: 3rem 0;
    font-size: 1.6rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 1rem;
  }
  a {
    & :hover {
      color: #fff;
    }
  }
}
.gitlink {
  color: #fff;
  &:hover {
    color: #d0002b;
  }
}
.customShape {
  position: absolute;
  top: -7rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  & svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 118px;
    @media (max-width: 661px) {
      display: none;
    }
  }

  & path {
    fill: #000000;
  }
}
.iconSet {
  margin: 1rem;
  //   background-color: aqua;
  text-align: center;
  a {
    padding: 0 1rem;
    transition: all 500ms;
    & :hover {
      background-color: rgb(0, 0, 0);
      color: #d0002b;
      transition: all 500ms;
    }
    svg {
      padding: 0.5rem;
      width: 3rem;
      height: 3rem;
      border: 1px solid #fff;
      border-radius: 100%;
    }
  }
}
