@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
  background-color: #000 !important;
}

.home {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(120px);
}

.list-item {
  padding: 0.5rem 0.9rem;
  border-radius: 20px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.list-item-contact {
  padding: 0.5rem 0.9rem;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  &:hover {
    background-color: transparent;
  }
}

.CircleContainerOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#1390eb, #36c496);
  clip-path: circle(8% at 50% 35%);
  z-index: -20;
}

.CircleContainerTwo {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e91e63, #dd6fb0);
  clip-path: circle(18% at 10% 10%);
  z-index: -20;
}

.CircleContainerThree {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#1390eb, #36c496);
  clip-path: circle(10% at 90% 10%);
  z-index: -20;
}
