.main {
  backdrop-filter: blur(50px) saturate(54%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  // border: 1px solid rgba(209, 213, 219, 0.2);
  height: 25rem;
  width: 35rem;
  color: #17f018;
  font-family: "JetBrains Mono", monospace;

  @media all and (min-width: 768px) and (max-width: 1352px) {
    height: 20rem;
    width: 28rem;
  }
}

.topBar {
  backdrop-filter: blur(50px) saturate(54%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px 12px 0 0;
  // border: 1px solid rgba(209, 213, 219, 0.5);
  height: 2.5rem;
}

.dot {
  padding-right: 10px;
}

.mainTerminalText {
  user-select: none;

  @media all and (min-width: 768px) and (max-width: 1352px) {
    font-size: 0.5rem;
  }
}
.installCode {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation-delay: 2s;
  animation: typing 8.5s steps(40, end);
  user-select: none;
  @media all and (min-width: 768px) and (max-width: 1352px) {
    font-size: 0.5rem;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #17f018;
  }
}

.lineCode {
  @media all and (min-width: 768px) and (max-width: 1352px) {
    font-size: 0.5rem;
  }
  & > p {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: show-line-code 1s steps(60, end) forwards;
    user-select: none;
    &:nth-child(1) {
      color: aqua;
      animation-delay: 9s;
    }
    &:nth-child(2) {
      color: aqua;

      animation-delay: 9.5s;
    }
    &:nth-child(3) {
      color: aqua;

      animation-delay: 10s;
    }
    &:nth-child(4) {
      color: aqua;

      animation-delay: 10.5s;
    }
    &:nth-child(5) {
      color: aqua;

      animation-delay: 11s;
      margin-bottom: 5px;
    }
    &:nth-child(6) {
      color: aqua;

      animation-delay: 11.5s;
      margin-bottom: 5px;
    }
    &:nth-child(7) {
      color: aqua;
      animation-delay: 12s;
    }
  }
  h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: show-line-code 1s steps(60, end) forwards;
    animation-delay: 12.5s;
    user-select: none;
  }
}

@keyframes show-line-code {
  0% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
